*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: monospace;
}

header
{

	padding: 0 20%;
    color: #a0add5;
	background-color: #1c212b;
	height: 20rem;
}

footer
{
    font-size: 1.3rem;
    line-height: 1.7em;

    margin-top: 6rem;
    padding: 4rem 0;

    text-align: center;

    color: #a0add5;
    background-color: #1c212b;
}

.question-container
{
	padding-top: 7.5rem;
}

#question
{
	font-weight: 400;
}

.answer-container
{
	padding: 0% 20%;
	font-size: 1.1em;
}

#answer
{
	margin: 10% 0;
}

/* Question 1 */
.technology
{
	margin: 0 0;
}

.technology-title
{
	margin: 10% 0 2.5% 0;
}

.technology-description
{
	font-size: 1.1em;
	text-align: justify;
}

.technology-image
{
	display: block;
	margin: 5% auto;
}
