*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}

header
{
    height: 20rem;
    padding: 0 20%;

    color: #a0add5;
    background-color: #1c212b;
}

footer
{
    font-size: 1.3rem;
    line-height: 1.7em;

    margin-top: 6rem;
    padding: 4rem 0;

    text-align: center;

    color: #a0add5;
    background-color: #1c212b;
}

.question-container
{
    padding-top: 7.5rem;
}

#question
{
    font-weight: 400;
}

.answer-container
{
    font-size: 1.1em;

    margin: 7.5% 0;
    padding: 0 20%;
}

.answer
{
    margin-top: 5%;
}

.answer-container img
{
    display: block;
    margin: 5% auto;
}

/* Question 1 */
.technology
{
    margin: 0 0;
}

.technology-title
{
    margin: 10% 0 2.5% 0;
}

.technology-description
{
    font-size: 1.1em;

    text-align: justify;
}

.technology-image
{
    display: block;

    margin: 5% auto;
}

blockquote
{
    font-size: 1em;

    margin: 5% 0 21px;
    padding: 10.5px 21px;

    color: #6f6f6f;
    border: 0 solid #999;
    border-left: 5px solid #ddd;
    border-left-width: 1px;

    page-break-inside: avoid;
}

blockquote small
{
    font-size: 80%;
    line-height: 1.4;

    display: block;

    padding-top: 2.5%;

    color: #6f6f6f;
}
