*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}

header
{
    height: 20rem;
    padding: 0 20%;

    color: #a0add5;
    background-color: #1c212b;
}

footer
{
    font-size: 1.3rem;
    line-height: 1.7em;

    margin-top: 6rem;
    padding: 4rem 20%;

    text-align: left;

    color: #a0add5;
    border-top: #dadfe1 2px solid;
    background-color: #fff;
}

.reference
{
    font-size: .6em;

    display: inline-block;

    color: #5b5e66;
}

.hidden
{
    display: none;
}

.back
{
    transition: color .5s ease-in-out;
    text-decoration: none;

    color: #5b5e66;
}

.back:hover
{
    transition: color .5s ease-in-out;

    color: #a0add5;
}

.question-container
{
    padding-top: 7.5rem;
}

#question
{
    font-weight: 400;
}

.answer-container
{
    font-size: 1.1em;

    margin: 7.5% 0;
    padding: 0 20%;
}

.answer
{
    margin-top: 5%;
}

.answer-container img
{
    display: block;

    margin: 5% auto;
}

/* Question 1 */
.technology
{
    margin: 0 0;
}

.technology-title
{
    margin: 10% 0 2.5% 0;
}

.technology-description
{
    font-size: 1.1em;

    text-align: justify;
}

.technology-image
{
    display: block;

    margin: 5% auto;
}
/* End of question 1 styles */

/* Question 10 */
.steps-heading
{
    margin-top: 5%;
}

.step
{
    margin: 2.5% 0;
    margin-left: 5%;
}

.visual-step
{
    width: 100%;
    height: auto;
}

.small-img
{
    width: 50%;
}

#divider
{
    margin: 5% 0;
}
/* End of question 10 styles */

blockquote
{
    font-size: 1em;

    margin: 5% 0 21px;
    padding: 10.5px 21px;

    color: #6f6f6f;
    border: 0 solid #999;
    border-left: 5px solid #ddd;
    border-left-width: 1px;

    page-break-inside: avoid;
}

blockquote small
{
    font-size: 80%;
    line-height: 1.4;

    display: block;

    padding-top: 2.5%;

    color: #6f6f6f;
}
